.git
.idea
.venv
__pycache__
Additional Classes
tests
.env
.gitignore
Dockerfile
Jenkinsfile
make requirements.bat
run docker.bat
smiles_cache.smi
processed_smiles.txt
errors.txt
test_smiles.smi
test_smiles1.smi