coloredlogs==15.0.1
connexion[swagger-ui]==3.3.0
dominate==2.9.1
epam-indigo==1.36.1
Flask==3.1.2
httpx==0.28.1
lightgbm==4.6.0
matplotlib==3.10.8
numpy==1.26.4
openpyxl
pandas==2.3.3
pillow==12.1.1
pymongo==4.15.5
pymysql==1.1.2
pypmml==0.9.17
python-dotenv==1.2.1
requests==2.32.5
scikit-learn==1.8.0
scipy==1.13.1
sklearn-genetic-opt==0.12.0
sklearn-pmml-model==1.0.7
sklearn2pmml==0.125.0
starlette==0.50.0
uvicorn==0.38.0
xgboost==2.1.1
xlsxwriter
