absl-py==2.3.1
anyio==4.12.0
asgiref==3.11.0
attrs==25.4.0
blinker==1.9.0
cached-property==2.0.1
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
connexion==3.3.0
contourpy==1.3.3
cycler==0.12.1
dill==0.4.0
dotenv==0.9.9
epam-indigo==1.36.1
Flask==3.1.2
fonttools==4.61.0
greenlet==3.3.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.11
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==3.4.1
kiwisolver==1.4.9
lightgbm==4.6.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
numpy==1.26.4
optree==0.18.0
packaging==25.0
pandas==2.3.3
pillow==12.0.0
psycopg2-binary==2.9.11
py4j==0.10.9.9
Pygments==2.19.2
pyparsing==3.2.5
pypmml==0.9.17
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rich==14.2.0
rpds-py==0.30.0
scikit-learn==1.5.1
scipy==1.13.1
setuptools==80.9.0
six==1.17.0
sklearn-pmml-model==1.0.7
sklearn2pmml==0.110.0
SQLAlchemy==2.0.45
starlette==0.50.0
swagger_ui_bundle==1.1.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.2
uvicorn==0.38.0
Werkzeug==3.1.4
xgboost==2.1.1